* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: "Poppins", sans-serif; 
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(#390b26ce, #c75087b6, #d44b9688, #fc79b6cc, #fcbcd7cb), url(images/home.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 10px 100px;
    justify-content: space-between;
    /* align-items: center; */
    position: sticky;
    top: 0;
    backdrop-filter: blur(50px);
    box-shadow: 0px 3px 20px 1px #6e0e46;
    z-index: 999;
}

nav img {
    width:50px;
}

.navLinks {
    flex: 1;
    text-align: right;
}

.navLinks ul li {
    list-style: none;
    display: inline-block;
    padding: 12px 20px;
    position: relative;
}

.navLinks ul li a {
    color: #ffff;
    text-decoration: none;
    font-size: 14px;
    position: relative;
    transition: 0.3s ease;
}

.navLinks ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f175a3;
    display: block;
    margin: auto;
    transition: 0.3s ease;  
}

.navLinks ul li:hover::after, .navLinks ul li a:hover {
    width: 100%;
    color: #f175a3;
}

.navLinks ul li a.active, .navLinks ul li a.active:hover::after {
    color: #f175a3;
    border-bottom: 2px solid #f175a3;
    padding-bottom: 2px;
    width: 0%;
    transition: none;
    
}

.textBox {
    width: 90%;
    color: #ffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.textBox h1 {
    font-size: 62px;
    font-weight: 900;
}

.textBox p {
    margin: 10px 0 40px;
    font-size: 14px;
    color: #ffff;
}

.textBox span {
    background: -webkit-linear-gradient(45deg, #c44480, #d44b96, #fc79b6, #fcbcd7cb);
    background-size: 600%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: bg 2s infinite alternate;
}

@keyframes bg {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

nav .bi {
    display:none;
}

@media(max-width: 700px) {
    .textBox h1 {
        font-size: 20px;
    }
    .navLinks ul li {
        display: block;
        margin: 0px 0px 50px 0px;
    }
    .navLinks {
        position: absolute;
        background: #8b1d45;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .bi {
        display: block;
        color: #ffff;
        margin: 10px;
        font-size: 25px;
        cursor: pointer;
    }
    .navLinks ul {
        padding: 25px;
    }
     .navLinks ul li a {
        font-size: 20px;
    }
}

/***** BUTTONS *****/
.buttons img {
    width: 350px;
}
.buttons {
    padding: 80px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    background-color:#f3a2bd;
}

.buttons .lt {
    flex-basis: 20%;
    background: #bb2248;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 20px 30px;
    box-sizing: border-box;
    transition: 0.3s;
}

.buttons .lt h1 {
    font-weight: 600;
    color:  #f08ca5;
    margin: 5px 5px;
}

.buttons .lt a {
     text-decoration: none;
}

.buttons .lt:hover {
    box-shadow: 0px 0px 20px 8px #eb778b;
}

@media(max-width: 700px) {
    .buttons {
        flex-direction: column;
    }
}

/***** FOOTER *****/
.footer {
    width: 100%;
    text-align: center;
    padding: 30px 10px;
    background-color:#f7bfd5; 
}

.footer h4 {
    margin-top: 20px;
    margin-bottom: 25px;
    font-weight: 700;
    color:#c44480;
}

.footer p {
    color:#c44480;
}

.icons .bi {
    color: #9c2356;
    display: inline;
    margin: 8px;
    cursor: pointer;
}

.lastFooter {
    color:#e99dbd;
    margin: 15px;
    font-size: 12px;
}

/************************** ABOUT PAGE **************************/
.subHeader {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(#390b26ce, #c75087b6, #d44b9688, #fc79b6cc, #fcbcd7cb), url(images/about.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
.slambook h1 {
    margin-bottom: 50px;
    color: pink;
    font-size: 55px;
}

.slambook {
    padding: 60px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color:#f3a2bd;
}
.slamNiniBox {
    display: flex; 
    /* justify-content: center; 
    align-items: center;  */
    gap: 150px; 
    /* width: 100%; 
    max-width: 1000px; */
}

.slambook .slamNini {
    flex: 1;
    align-content: center;
    flex-basis: 20%;
    background: #bb2248;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 50px 50px;
    box-sizing: border-box;
    text-align: left;
}

.slamNini p {
    margin: 10px 10px;
    white-space: nowrap;
    padding: 5px 0px; 
    color: #ffff;
    font-size: 35px;
    line-height: 2;
}

.slambook img {
    width:300px;
}

